.card-area {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 10px 5px;
  transition: all 0.1s;
  cursor: pointer;

  &:hover {
    transform: scale(1.08);
  }

  img {
    width: 100%;
    margin: auto;
  }

  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 10px;
    height: 80px;

    .title {
      height: 16px;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .price {
      font-size: 15px;
    }

    .choice {
      font-size: 12px;
    }

    .new {
      font-size: 12px;
    }
  }
}
